<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta name="viewport" content="width=device-width">
<title>{% block title %}Middleware Dashboard{% endblock title %}</title>
<link href="{{ STATIC_URL}}css/bootstrap.min.css" rel="stylesheet">
<link href="{{ STATIC_URL}}css/style.css" rel="stylesheet">
{% block head %}{% endblock head %}
</head>
<body>
{% block body %}
<header>
    <div id="logo">
        <a href="http://www.wisc.edu/"><img src="{{ STATIC_URL }}img/uwcrest.png" alt="Link to UW home page"></a>
    </div>
    <div id="siteTitle">
        <a href="http://www.wisc.edu/"><img src="{{ STATIC_URL }}img/b_uw.png" alt="University of Wisconsin-Madison"></a>
    </div>
</header>
<div id="content">
    <div class="page-header hidden-phone">
        <h1>Middleware Dashboard</h1>
    </div>
    <table id="status_table" class="table table-condensed table-hover">
        {% for template in service_templates %}
            
            {{ template }}
            {% include template %}
        {% endfor %}
    </table>
</div>
{% endblock body %}
</body>
<script type="text/javascript" src="{{ STATIC_URL }}js/html5.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/dashboard.js"></script>

{% block scripts %}
<script type="text/javascript">
$(document).ready(function(e) {
    updateDashboard();
    setInterval(function() {
        updateDashboard();
    }, 15000);

});


function updateDashboard() {
    $.ajax({
        url: "webservices/",
        type: "GET",
        success: function(data){
            $("table#status_table").html(data);
            console.log(data);
            }
        });
}
</script>
{% endblock scripts %}

</html>
